<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta name="description" content="Host or join a multiplayer draft of the Gulchdale Commander Cube." />
		<meta
			name="keywords"
			content="Magic, Magic the Gathering, MTG, MTGA, Draft, Sealed, Limited, Cube, Simulator, Sim, Booster, Arena, The Hobbit, Marvel Super Heroes, Pod, Winston, Grid, Rochester, Winchester, Housman, Team Sealed, MTGADraft, Custom Cards"
		/>
		<meta name="thumbnail" content="/img/gulchdale-logo.png" />
		<meta name="color-scheme" content="dark" />
		<meta property="og:title" content="Gulchdale" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="/img/gulchdale-logo.png" />
		<meta property="og:description" content="Host or join a multiplayer draft of the Gulchdale Commander Cube." />
		<meta property="og:site_name" content="Gulchdale" />

		<link rel="apple-touch-icon" href="/img/gulchdale-logo.png" />
		<link rel="icon" type="image/png" href="/img/gulchdale-logo.png" />
		<link rel="manifest" href="/site.webmanifest?v=2" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg?v=2" color="#666666" />
		<meta name="apple-mobile-web-app-title" content="Gulchdale" />
		<meta name="application-name" content="Gulchdale" />
		<meta name="msapplication-TileColor" content="#17120b" />
		<meta name="theme-color" content="#17120b" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
	</head>

	<body>
		<div id="main-vue"></div>
	</body>
</html>
